/*Global==========================================*/

body {
  background: #fcf7e4;
  color: #333333;
  font-family: Open Sans, Helvetica Neue, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #461010;
  text-transform: uppercase;
  padding: 0 20 0 20;
}

a:hover {
  color: #a64545;
}

a:active {
  color: #320a0a;
}

/*Header==========================================*/

.nav {
  font-family: Bitter, Rockwell, serif;
  color: #a64545;
  font-size: 1.5em;
  list-style: none;
  padding: 0;
}

header {
  background: #661b1b;
  text-align: center;
}

.nav-container {
  padding: 10 0 10 0;
  margin-bottom: 100px;
}

.nav-container li {
  display: inline;
}

h1 {
  font-family: Bitter, Rockwell, serif;
  color: #a64545;
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 0;
}

/*Portfolio==========================================*/

h2 {
  font-size: 2em;
  font-family: Bitter, Rockwell, serif;
  color: #661b1b;
}

.section-portfolio {
  padding: 0 100 100 100;
  margin: 0;
  overflow: auto;
}

.img-portfolio {
  border-radius: 20px;
  border: 2em solid #ede6d0;
  float: left;
}

.img-description {
  width: 450px;
  float: left;
  margin-left: 1.5em;
}
