
/*Base Styles============================================*/
body {
  font-family: "Source Sans Pro", sans-serif;
  background: #eeeeee;
}

h1 {
  font-size: 64px;
  text-transform: uppercase;
  font-family: 'Kreon', 'Rockwell', serif;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Kreon', 'Rockwell', serif;
  letter-spacing: 1px;
}

h3 {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}

a {
  color: #585858;
}


/*Layout=================================================*/

.header {
  background: grey;
  margin-bottom: 50px;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 25px;
}

.wrapper {
  overflow: auto;
  width: 60%;
  margin: 0 auto;
}

.single-row, .multi-row {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}


/*Components=============================================*/

/*Header & Nav*/
.nav a {
  text-decoration: none;
  text-transform: uppercase;
  display: inline block;
  padding: 10px;
  font-size: 20px;
}

.nav li {
  display: inline;
}

/*Cards*/
.section-title {
  text-align: center;
  margin: 30px 0 30px 0;
}

.card {
  background: white;
  float: left;
  margin: 0 10px 20px 10px;
  padding: 40px 20px 20px 20px;
  height: 220px;
  width: 26%;
  border-radius: 5px;
  box-shadow: 0px 2px 1px 0px #BBB9B9;
  position: relative;
  z-index: 1;
}

.card-title {
  text-align: center;
  margin-bottom: 22px;
}

.card-avatar {
  height: 90px;
  width: 90px;
  border-radius: 90px;
  float: left;
  margin: 10px;
  border: solid 1px #eeeeee;
}

.card-bottom {
  background: #dadada;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0 0 5px 5px;
  padding: 15px;
}

.card-bottom-text {
  font-size: 32px;
  text-align: center;
  font-family: 'Kreon', 'Rockwell', serif;
}

.fa-trophy {
  padding-right: 4px;
}

.card-medal {
  height: 40px;
  width: 40px;
  background: #CFCFCF;
  border-radius: 40px;
  position: absolute;
  z-index: 2;
  box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.40);
}

/*.card-wrapper {
  overflow: visible;
  width: 100%;
  background: grey;
}*/
