
/*Base Styles============================================*/
body {
  font-family: "Source Sans Pro", sans-serif;
  background: #eeeeee;
}

@font-face {
  font-family: 'Geared Slab';
  src: ulr('GearedSlab.ttf') format('truetype');
}

h1 {
  font-size: 80px;
  text-transform: uppercase;
  font-family: 'Geared Slab', 'Oswald', sans-serif;
  letter-spacing: 3px;
  margin-bottom: 23px;
}

h2 {
  font-size: 36px;
  text-transform: uppercase;
  font-family: 'Geared Slab', 'Oswald', 'Rockwell', serif;
  letter-spacing: 2px;
}

h3 {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}

a {
  color: #585858;
  letter-spacing: 1px;
}


/*Layout=================================================*/

.header {
  background: grey;
  margin-bottom: 50px;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 25px;
}

/*Using boostrap container class instead of this
.wrapper {
  overflow: auto;
  width: 862px;
  margin: 0 auto;
}*/

.single-row, .multi-row {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}


/*Components=============================================*/

/*Header & Nav*/
.nav a {
  text-decoration: none;
  text-transform: uppercase;
  display: inline block;
  padding: 10px;
  font-size: 20px;
}

.nav li {
  display: inline;
}

/*Cards*/
.section-title {
  text-align: center;
  margin: 30px 0 30px 0;
}

.card {
  background: white;
  float: left;
  padding: 0px 20px 20px 20px;
  border: solid 1px #dedede;
  border-radius: 5px;
  position: relative;
  width: 100%;
  margin-bottom: 100px;
}

.card-title {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.card-avatar {
  height: 90px;
  width: 90px;
  border-radius: 90px;
  float: left;
  margin: 10px;
  border: solid 1px #d3d3d3;
}

.card-avatar-container {
  width: 220px;
  margin: 0 auto;
}

.card-bottom {
  background: #dadada;
  position: absolute;
  bottom: -55px;
  left: 0;
  right: 0;
  box-shadow: 0px 2px 1px 0px #BBB9B9;
  border-radius: 0 0 5px 5px;
  border: solid 1px #dedede;
}

.card-bottom-text {
  font-size: 32px;
  text-align: center;
  font-family: 'Kreon', 'Rockwell', serif;
  margin-top: 10px;
}

.fa-trophy {
  padding-right: 4px;
}

.card-medal {
  margin: -22px auto;
  height: 43px;
  width: 43px;
  background: #CFCFCF;
  border-radius: 40px;
  box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.40);
}

.card-medal-number {
  padding-top: 7px;
  font-size: 21px;
  text-align: center;
  font-family: 'Kreon', 'Rockwell', serif;
}
