
/* Box Model Hack */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* Clear fix hack */

/*.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}*/


/*General Styles*/

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}

.primary-color {
  color: white;
}

.accent-color {
  color: #f9e42e;
}

.logo {
  font-size: 44px;
  font-weight: 800;
}

header {
  background: url(../images/header_bg.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 850px;
  padding: 0 7%;
}

.header-tagline {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin: 100px 0 70px 0;
}

.btn {
  width: 175px;
  padding: 10px 30px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  display: block;
  margin: 0 auto;
  position: relative;
}

.btn-primary {
  background: #f9e42e;
  color: #121212;
}

.btn-secondary {
  background: #033048;
  color: white;
}

.benefits-section {
  background: #f0efef;
  color: #606161;
  font-size: 24px;
  font-weight: 100;
  padding: 5% 40% 5% 7%;
}

.benefits-header {
  font-size: 34px;
  font-weight: 600;
  color: #033048;
}

.quote-section {
  background: url(../images/testimonial_bg.jpg);
  padding: 6% 15%;
}

.quote {
  font-style: italic;
  font-weight: 100;
  font-size: 26px;
  text-align: center;
}

.quote-author {
  font-size: 26px;
  text-align: center;
}

.signup-section {
  background: #f9e42e;
  padding: 50px 0;
}

footer {
  background: #121212;
  height: 310px;
  text-align: center;
  padding-top: 20px;
}

.icon-footer {
  padding: 10px;
}

.tiny-text {
  font-size: 12px;
}

.footer-icons {
  margin-bottom: 40px;
}
