/*Base Styles*/

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  background-color: #f0efef;
  color: #121212;
}

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
  }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}


/*Layout*/

.wrapper {
  margin: 0 auto;
  width: 960px;
  overflow: hidden;
  margin-bottom: 60px;
}

.column-left {
  float: left;
  width: 700px;
  margin-right: 20px;
}

.sidebar{
  float: left;
  width: 240px;
}

.button-strip {
  background: orange;
  float: left;
  width: 100%;
}

footer {
  background: red;
  float: left;
  width: 100%;
}


/*Header*/

header {
  background: #033048;
  overflow: hidden;
  padding: 25px 6% 25px 6%;
  margin-bottom: 60px;
}

.header-logo {
  font-size: 32px;
  font-weight: 800;
  color: white;
  float: left;
}

.header-nav {
  float: right;
}

.header-nav > li {
  display: inline-block;
  padding: 10px 20px;
}

.header-nav > li > a {
  color: #f9e42e;
  font-weight: 600;
  font-size: 18px;
}

.header-nav > li > a:hover {
  color: white;
  padding: 6px 0;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

/*Story Section*/

.story {
  padding-bottom: 30px;
  margin-bottom: 30px;
  overflow: hidden;
  border-bottom: 1px solid #606161;
}

.story-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  margin-bottom: 20px;
}

.story-image {
  margin-bottom: 25px;
}

.story-text {
  font-size: 18px;
  font-weight: 200;
  line-height: 25px;
  color: #606161;
  margin-bottom: 30px;
}

.story-link {
  font-weight: 600;
  float: right;
  color: #033048;
}

.story-link:hover {
  color: #306e90;
}

.link-arrow {
  margin-left: 5px;
  font-size: 18px;
}
