body {
  font-family: Open Sans, sans-serif;
  background: #ffe;
  color: #3d3d3d;
}
 a{
   color: #900;
 }

.aside-nutrition{
   color: #887;
 }

img {
  border: solid 3px #3d3d3d;
  border-radius: 5px;
}

ul {
  list-style: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
