
/* Box Model Hack */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* Clear fix hack */

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}


/*General Styles*/

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  /*background: url(../images/header_bg.jpg) no-repeat;
  background-size: cover;*/
}

.logo {
  font-size: 24px;
  font-weight: 800;
}

header {
  background: url(../images/header_bg.jpg) no-repeat;
  background-size: cover;
  overflow: auto;
  width: 100%;
  height: 850px;
  padding: 0 100px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  color: #033048;
}

.dark-background {
  color: white;
}

.benefits {
  padding: 0 100px;
  background: #f0efef;
  color: #606161;
  overflow: auto;
  font-size: 13px;
  font-weight: 100;
  height: 600px;
}

blockquote {
  text-align: center;
  font-style: italic;
  font-weight: 100;
  color: white;
}

.testimonial {
  background-color: #033048;
  overflow: auto;
  height: 400px;
}

.signup {
  background: #f9e42e;
  height: 120px;
  overflow: auto;
}

footer {
  background: #121212;
  height: 400px;
  overflow: auto;
}
