<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <header>
    <div class="container"></div>
  </header>

  <section class="main">
    <div class="container-middle-left"></div>
    <div class="container-middle-right"></div>
  </section>

  <div class="wrapper">
    <section class="sidebar-left">
      <div class="container-bottom"></div>
    </section>

    <section class="middle">
      <div class="container-bottom"></div>
    </section>

    <section class="sidebar-right">
      <div class="container-bottom"></div>
    </section>
  </div>

  <footer>
    <div class="container"></div>
  </footer>

</body>
</html>
