<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="styles.css">
</head>

<header>
  <div class="container"></div>
</header>

<div class="wrapper">
  <section class="sidebar-left">
    <div class="container-middle"></div>
  </section>

  <section class="main">
    <div class="container-middle"></div>
  </section>

  <section class="sidebar-right">
    <div class="container-middle"></div>
  </section>
</div>

<footer>
  <div class="container"></div>
</footer>

<body>

</body>
</html>
